.headline{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 20rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    
    
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 10rem;
    align-items: center;
    gap: 1rem;
  }
  
  .card-header {
    text-align: center;
    font-weight: bold;
  }
  .projectH{
    text-align: center;
  }
  





  /* For medium devices */
  @media screen and (max-width: 768px) {
   
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        gap: 1rem;
      }


  }

  @media screen and (max-width: 576px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin-left: 6rem;
        gap: 1rem;
      }

    
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {

    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin-right: 4rem;
        gap: 1rem;
      }


  }
   
    
  